div{
    background-color: brown;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    margin-bottom: 8px;
}
#change{
    background-color: blue;
    text-decoration: underline;
    width: fit-content;

}

.how{
    color: chocolate;
    font-style: italic;
    border: 7px solid greenyellow;
    width: fit-content;
}